.App {

}
input {
  outline: none;
}
.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}
.low{
  color: green;
}
.medium{
  color: dodgerblue;
}
.high{
  color: red;
}
.filter-active {
  background-color: dodgerblue;
}
.error {
  border-color: red;

}
.todoList-task.done {
  text-decoration: line-through;
}