.App {
    display: flex;
    flex-direction: row;
}

input {
    outline: none;
}

.todoList {
    width: 300px;
    margin: 0 auto;
}

.todoList > div {
    padding: 10px;
}

.todoList-task {

}
.todolist-title-in{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.low {
    color: green;
}

.medium {
    color: dodgerblue;
}

.high {
    color: red;
}

.filter-active {
    background-color: dodgerblue;
}

.error {
    border-color: red;

}

.todoList-task.done {
    text-decoration: line-through;
}