.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7A7B7C;
}

input {
    outline: none;
}
.todoLists-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.todoList {
    max-width: 300px;
    margin-right: 10px;
    margin-top: 20px;
}

.todoList-header-input {
    width: 280px;
}

.todoList-header-input input {
    width: 80%;
}

.todoList-header {
    /*!*width: 100%;*! !*????**/
    background-color: #0a0224;
    padding: 10px;
}

.todoList-tasks {
    /*width: 100%;*/
    padding: 10px;
    background-color: #ff2851;
}

.todolist-title-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todolist-title-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.low {
    color: #fff;
    font-size: 20px;
}

.medium {
    color: dodgerblue;
}

.high {
    color: red;
}

.filter-active {
    background-color: dodgerblue;
}

.error {
    border-color: red;

}

.todoList-task.done {
    text-decoration: line-through;
}